@use 'variables' as *;
@use 'themes';


html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

body {
  font-size: 16px;
  line-height: 1.5;
  color: var(--text-primary);
  background: var(--bg-dark);
  transition: background 0.3s ease, color 0.3s ease;


  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}
button:focus,
input:focus,
textarea:focus,
select:focus {
  outline: none;
}

button {
  border: none;
  background: none;
  cursor: pointer;
  font-family: inherit;
}

input,
textarea {
  font-family: inherit;
  font-size: inherit;
  border: none;
  background: none;
}


svg {
  width: 100%;
  height: 100%;
}
